.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 18px;
    margin: 92px 24px;
    max-height: 105px;


 
}

.header__menu{
 
}

.header__links-list{
    list-style: circle;
    

}

.header__links-list-item_no-bullet{
    
    list-style: none;


}


.header__logo{
    display: block;
    max-width: 148px;
    border: 1px red solid;
    


}

.header__logo-image{
    


}

.address{

}

.cover{
    display: flex;   
    height: 757px;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  
}


.cover__description{

}

.bet-button{

}


.lots{
   
}


.lots__card-list{
    
}

.card{

}

.lots__card-list-item{

}


.card__title{

}

.card__text{

}

.card_type_film{

    }

.card_type_book{

    }

.card_type_picture{

    }



.about{
}

.about__column{

}

.about__logo{

}

.about__logo-image{

}

.about__title{

}

.about__text_1{

}


.footer{

}

.address_footer{

}

.footer__menu{

}


.footer__menu-list{
    
}

.footer__menu-list-item{

}

.footer__menu-link{
}

.footer__menu-link_active{

}